.logo{
    height: 43px;
    width: 130.071426px;


}
.container-fluid{
    

background-color: #f0fff0 ;

}
.margin-from-nav{
    margin-top: 50px;
}
.section-gap{
    margin-bottom: 5%;
}
.red-color{
    color: red;
}
span{
   color: #21B573;
}
.sign-in-button{
    background-color: #21B573;
    height: 33px;
    width: 104px;
    left: 1201px;
    top: 25px;
    border-radius: 33px;
    color: white;
    border:none;
}
.get-start-button{
    background-color: #21B573;
    color: white;
    height: 43px;
    width: 153px;
    left: 205px;
    top: 470px;
    border-radius: 33px;
    border:none;

}
.card{
    box-shadow: 5px 5px 10px gray;
    border-radius: 6px;
}
.without-card{
    background: #F8FFFB;
    border-radius: 6px;

}
.img1{
    height: 85px;
width: 66px;

}
.img2{height: 83px;
    width: 80px;
    
    }
.img3{
    height: 80px;
width: 75px;


}
.img4{height: 76px;
    width: 68px;
    
    }
.card-size{
        height: 200px;
    width: 200px;
    padding: 5%;



    }
.img1, .img2, .img3, .img4{
        padding: 6%;
    }
.card-img-top{
        padding: 5%;
    }
.calender-size{
        width: 20px;
    height: 20px;
    float:left;

    }
.footer-color{background: #282531;color: white;}
.text-align{
        text-align: center;
    }
.top-bottom-gap{
        padding-top: 5%;
        padding-bottom: 5%;
    }
.man-img-size{
    width: 120px;
    height: 120px;
    margin-right: 5%;
}
.man-margin{
    margin-left: 18%;
    margin-right: 18%;
}

.bullet-none{
    list-style-type:none;
}
.card-footer{
    border: none;
    background-color: white;
}
.bold{
    font-weight: 700;
}